body {
    display: flex;
    background: linear-gradient(264deg, rgba(0,0,0,1) 9%, rgba(37,143,153,1) 50%, rgba(0,0,0,1) 93%);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 15vh;
    
}

header nav ul{
    display: flex;
    
    width: 60vw;
    gap: 2rem;
    justify-content: center;
}

li a{
    color: #fff;
    font-size: 1.1rem;
    padding: 5px;
    border-radius: 35px;
    
}

a:hover {
    box-shadow: 10px 10px 127px 25px rgba(235,245,245,1);
    background-color: #fff;
    color: #000;
}

