body {
    max-width: 1200px;
    background: linear-gradient(264deg, rgba(0,0,0,1) 9%, rgba(37,143,153,1) 50%, rgba(0,0,0,1) 93%);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 15vh;
    padding-top: 1rem;
    /* background-color: tomato; */
}

header nav ul{
    display: flex;
    
    width: 60vw;
    gap: 2rem;
    justify-content: center;
}

li a{
    color: #fff;
    font-size: 1.1rem;
    padding: 5px;
    border-radius: 35px;
    
}

a:hover {
    box-shadow: 10px 10px 161px 58px rgba(255,255,255,1);
    background-color: #fff6;
    color: #000;
    cursor: pointer;
    
}

.container {
    align-items: center;
    /* border: 1px solid beige; */
    display: grid;
    flex-direction: column;
    margin: auto;
    width: 70vw;
    height: 75vh;
    margin-top: 2rem;
    justify-content: center;
    
    
}

.container-title {
    text-align: center;
    /* background: yellowgreen; */
    width: 50vw;
    height: 20vh;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-bottom: 3rem;
    
}

h1 {
    font-size: 3.5rem;
    font-weight: 400;
}

h2 {
    font-size: 1.7rem;
    font-weight: 200;
}

p {
    font-size: 1.2rem;
    font-weight: 130;
}

.container-img {
    background-image: url("../img/WhatsApp_Image_2023-02-07_at_20.31.18-removebg-preview.png");
    /* box-shadow: 10px 10px 161px 25px rgba(255,255,255,1); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #fff5;
    margin: auto;
    border-radius: 150%;
    display: flex;
    border: 1px solid #fff;
    width: 13vw;
    height: 30vh;
    justify-content: center;
    align-items: center;
}

img {
    width: 10vw;
    
    
}

@media(max-width:768px) {
    .container-img{
        width: 50vw;
        height: 30vh;
    }

    .container.title{

    }

    p{
        display: none;
    }

    
    
}